rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /capas/{fileName} {
      allow read: if true;
      allow write: if request.auth != null
                   && (request.auth.uid == "n5JTPLsxpyQPeC5qQtraSrBa4rG3" || request.auth.token.email == "wilsonteofilosouza@live.com")
                   && (request.resource == null || (request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/(jpeg|jpg|png|webp)')
                   && fileName.matches('.*\\.(jpe?g|png|webp)$')));
    }

    match /manga/{obra}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null
                   && (request.auth.uid == "n5JTPLsxpyQPeC5qQtraSrBa4rG3" || request.auth.token.email == "wilsonteofilosouza@live.com")
                   && (request.resource == null || (request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/(jpeg|jpg|png|webp)')
                   && fileName.matches('.*\\.(jpe?g|png|webp)$')));
    }

    match /avatares/{fileName} {
      allow read: if true;
      allow write: if request.auth != null
                   && (request.auth.uid == "n5JTPLsxpyQPeC5qQtraSrBa4rG3" || request.auth.token.email == "wilsonteofilosouza@live.com")
                   && (request.resource == null || (request.resource.size < 1024 * 1024
                   && (request.resource.contentType == "image/webp" || fileName.matches('.*\\.webp$'))));
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
